@import "tailwindcss";

:root {
  color-scheme: dark light;
  --primary-text-color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: #fff;
  }
}

dialog {
  max-width: 672px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 24px;
  border: 1px solid #eee;
  color: var(--primary-text-color);
}

@keyframes slideIn {
  from {
    transform: translateY(-500%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes smoothScaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  60% {
    transform: scale(1.09);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.welcome-p {
  animation: smoothScaleIn 0.7s ease-out forwards;
}

.welcome-h1 {
  animation: smoothScaleIn 0.9s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.welcome-btn {
  animation: smoothScaleIn 1.6s forwards;
}

@keyframes slide-in-stack {
  0% {
    transform: translateX(-50px) scale(0.8);
    opacity: 0;
  }
  80% {
    transform: translateX(5px) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.animate-stack {
  animation: slide-in-stack 0.5s ease-out forwards;
}
