@import "tailwindcss";

:root {
  --primary-text-color: #222;
  --primary-bg-color: linear-gradient(to bottom, #f3f6fa, #e2e9f5);
  --primary-border-color: #eee;

}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: #fff;
    --primary-bg-color: #181818;
    --primary-border-color: #222;
  }
}

body {
  background: var(--primary-bg-color);
  height: 100dvh;
}

dialog {
  background: var(--primary-bg-color);
  width: 50%;
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 24px;
  border: 1px solid var(--primary-border-color);
  color: var(--primary-text-color);
  border-radius: 12px;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}

@keyframes slideIn {
  from {
    transform: translateY(-500%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes smoothScaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  60% {
    transform: scale(1.09);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.welcome-p {
  animation: smoothScaleIn 0.7s ease-out forwards;
}

.welcome-h1 {
  animation: smoothScaleIn 0.9s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.welcome-btn {
  animation: smoothScaleIn 1.6s forwards;
}

@keyframes slide-in-stack {
  0% {
    transform: translateX(-50px) scale(0.8);
    opacity: 0;
  }
  80% {
    transform: translateX(5px) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.animate-stack {
  animation: slide-in-stack 0.5s ease-out forwards;
}

::view-transition-old(page) {
  animation: blur-fade-out 0.8s ease forwards;
}

::view-transition-new(page) {
  animation: blur-fade-in 0.8s ease forwards;
}

@keyframes blur-fade-out {
  from {
    opacity: 1;
    filter: blur(0);
    transform: translateX(-50%) scale(0.999);
  }
  to {
    opacity: 0;
    filter: blur(8px);
  }
}

@keyframes blur-fade-in {
  from {
    opacity: 0;
    filter: blur(8px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.btn-animation:hover .svg-animation {
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  animation: dash 2s ease-in forwards;
}

dash {
  fill-opacity: 1;
  stroke-dashoffset: 0px;
  stroke-width: 1px;
}

@keyframes dash {
  70% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 100%;
    stroke-dashoffset: 0;
    stroke-width: 1;
  }
}

@media (width <= 762px) {
  dialog {
    width: 90%;
  }
}